#panel-left {
  border-right: 1px solid lightgray;
  height: 100%;
  overflow: auto;
  position: fixed;
  width: 240px;
}

#panel-main {
  height: 100%;
  left: 240px;
  overflow: auto;
  position: fixed;
  width: calc(100% - 240px);
}
